{% extends  'basic.html' %}
{% load static %}

{% block title %}
   {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}
{% block css %}

    {{ block.super }}
{% endblock %}



{% block content %}
 <div class="top-baner">
	<div class="arrows">
		<div class="swiper-container main-slider-6" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
			<div class="swiper-wrapper">
                {% for banner in allBanners %}
				<div class="swiper-slide {% if forloop.counter == 1 %}active{% endif %}" data-val="{{ banner.id }}">
						<div class="clip">
							<div class="bg bg-bg-chrome act" style="background-image:url({{ banner.image.url }})"></div>
						</div>
						<div class="vertical-align">
							<div class="container">
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1">
									    <div class="main-title style-3 left">
                                            {% if banner.bannerOffer %}
									   		<h4 class="category color-white-light">{{ banner.bannerOffer }}</h4>
                                            {% endif %}
										 	<h1>
                                                {% if banner.bigTextColored %}
                                                <span class="color-sea">{{ banner.bigTextColored }}</span><br>
                                                {% endif %}
										 	{{ banner.bigText }}
                                            </h1>
                                            {% if banner.smallText %}
										 	<p class="color-white-light">{{ banner.smallText }}</p>
                                        {% endif %}
										 	<div class="clearfix"></div>
                                        {% if banner.buttonUrl %}
										 	<a href="{{ banner.buttonUrl }}" class="c-button b-60 bg-sea hv-sea-o delay-2"><span>{{ banner.buttonText }}</span></a>
                                        {% endif %}
                                        {% if banner.tourUrl %}
                                            	<a href="{{ banner.tourUrl.get_absolute_url }}" class="c-button b-60 bg-sea hv-sea-o delay-2"><span>{{ banner.buttonText }}</span></a>

                                        {% endif %}
									    </div>
									</div>
								</div>
							</div>
						</div>
				</div>
				{% endfor %}
			</div>
			<div class="pagination pagination-hidden poin-style-1"></div>
		    <div class="arrow-wrapp arr-s-4">
				<div class="cont-1170">
					<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
					<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="top-preview row no-margin">
{% for tour in bannerTours %}
	<div class="col-xs-12 col-sm-6 col-md-3 no-padding">
    	<div class="tp_entry">
    		<div class="tp_image">
				<img class="center-image" src="{{ tour.previewImage.url }}" alt="">
				<div class="price price-s-2">{{ tour.priceDollar }}</div>
    		</div>
    		<div class="tp_content">
      	        <div class="rate-wrap">
          	        <div class="rate">
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
					</div>
				    <i>485 rewies</i>
                </div>
          	    <h4><b><a href="#">{{ tour.name }}</a></b></h4>
           	 	<div class="date">July <strong>19th</strong> to July <strong>26th</strong></div>
    		</div>
    	</div>
	</div>
{% endfor %}
</div>

<!--ICON-BLOCK-->
<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dark-2-light">our tours</h4>
					<h2>why we are the best</h2>
					<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block">
					<img class="icon-img" src="img/theme-1/c_icon_1.png" alt="">
					<h5 class="icon-title color-dark-2">happy clients</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block">
					<img class="icon-img" src="img/theme-1/c_icon_2.png" alt="">
					<h5 class="icon-title color-dark-2">amazing tour</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block">
					<img class="icon-img" src="img/theme-1/c_icon_3.png" alt="">
					<h5 class="icon-title color-dark-2">support cases</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block">
					<img class="icon-img" src="img/theme-1/c_icon_4.png" alt="">
					<h5 class="icon-title color-dark-2">in bussines</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-sea-t hv-sea-t delay-2"><span>view more</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- HOTEL-ITEM-->
<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dark-2-light">holiday tour</h4>
					<h2>Holiday Activities</h2>
					<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
				</div>
			</div>
		</div>
		<div class="row">
		    <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
		        <div class="hotel-item style-4">
		          	<div class="radius-top">
		          	 	<img src="img/home_7/holiday_1.jpg" alt="">
		          	</div>
		          	<div class="title">
		          	 	<div class="hotel-place color-dark-2 clearfix">Greece, Santorini<span class="hotel-hot color-dark-2-light fr">hot price</span></div>
		          	    <h4><b>tours in monaco</b></h4>
	          	         <div class="rate-wrap">
		          	        <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
							</div>
						    <i>485 rewies</i>
	                    </div>
			            <span class="f-14 people">Astro Palace Hotel & Suites</span>
			            <p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
			            <div class="clearfix">
				            <a href="#" class="c-button bg-grey-3-t hv-grey-3-t fl">detail</a>
				            <a href="#" class="c-button bg-sea hv-sea-o fr">book now</a>
			            </div>
		            </div>
		          </div>
			</div>
		    <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
		        <div class="hotel-item style-4">
		          	<div class="radius-top">
		          	 	<img src="img/home_7/holiday_2.jpg" alt="">
		          	</div>
		          	<div class="title">
		          	 	<div class="hotel-place color-dark-2 clearfix">Greece, Corfu<span class="hotel-hot color-dark-2-light fr">hot price</span></div>
		          	    <h4><b>Night Safari Adventure</b></h4>
	          	         <div class="rate-wrap">
		          	        <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
							</div>
						    <i>485 rewies</i>
	                    </div>
			            <span class="f-14 people">Hotel Colombina</span>
			            <p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
			            <div class="clearfix">
			            	<a href="#" class="c-button bg-grey-3-t hv-grey-3-t fl">detail</a>
			            	<a href="#" class="c-button bg-sea hv-sea-o fr">book now</a>
			            </div>
		            </div>
		          </div>
			</div>
		    <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
		        <div class="hotel-item style-4">
		          	<div class="radius-top">
						<div class="arrows">
							<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
								<div class="swiper-wrapper">
									<div class="swiper-slide active" data-val="0">
										<img src="img/home_7/holiday_3.jpg" alt="">
									</div>
									<div class="swiper-slide" data-val="1">
										<img src="img/home_7/holiday_1.jpg" alt="">
									</div>
									<div class="swiper-slide" data-val="1">
										<img src="img/home_7/holiday_2.jpg" alt="">
									</div>
									<div class="swiper-slide" data-val="1">
										<img src="img/home_7/holiday_4.jpg" alt="">
									</div>
								</div>
								<div class="pagination pagination-hidden poin-style-1"></div>
							    <div class="arr-t-2">
									<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
									<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
								</div>
							</div>
						</div>
		          	</div>
		          	<div class="title">
		          	 	<div class="hotel-place color-dark-2 clearfix">Greece, Kalogiros<span class="hotel-hot color-dark-2-light fr">hot price</span></div>
		          	    <h4><b>Summer Isles Sea Tours</b></h4>
	          	         <div class="rate-wrap">
		          	        <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
							</div>
						    <i>485 rewies</i>
	                    </div>
			            <span class="f-14 people">Hilton Hotel</span>
			            <p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
			            <div class="clearfix">
				            <a href="#" class="c-button bg-grey-3-t hv-grey-3-t fl">detail</a>
				            <a href="#" class="c-button bg-sea hv-sea-o fr">book now</a>
			            </div>
		            </div>
		          </div>
			</div>
		    <div class="col-mob-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
		        <div class="hotel-item style-4">
		          	<div class="radius-top">
		          	 	<img src="img/home_7/holiday_4.jpg" alt="">
		          	</div>
		          	<div class="title">
		          	 	<div class="hotel-place color-dark-2 clearfix">Greece, Pontikos<span class="hotel-hot color-dark-2-light fr">hot price</span></div>
		          	    <h4><b>SHEARWATER CRUISES</b></h4>
	          	         <div class="rate-wrap">
		          	        <div class="rate">
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
								<span class="fa fa-star color-yellow"></span>
							</div>
						    <i>485 rewies</i>
	                    </div>
			            <span class="f-14 people">Luxury Hotel & SPA</span>
			            <p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
			            <div class="clearfix">
				            <a href="#" class="c-button bg-grey-3-t hv-grey-3-t fl">detail</a>
				            <a href="#" class="c-button bg-sea hv-sea-o fr">book now</a>
			            </div>
		            </div>
		          </div>
			</div>
		</div>
	</div>
</div>


<!-- GAL-ITEM-->
<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dark-2-light">our gallery</h4>
					<h2>why we are the best</h2>
					<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
				</div>
			</div>
		</div>
		<div class="isotope-container row row10">
			<div class="grid-sizer col-mob-12 col-xs-6 col-sm-3"></div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-6">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_1.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_2.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_3.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_4.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_5.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-6">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_6.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-6">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_7.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_8.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail.html">
					<img class="img-full img-responsive" src="img/home_7/gal_9.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dark-2-light">popular destination</h4>
					<h2>Special offers for You</h2>
					<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="item-block style-3 hover-sea underline-block">
					<img class="center-image" src="img/home_7/special.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<h3 class="ib-subtitle hover-it">sale <span class="color-sea">-20%</span></h3>
	 	 	   	      	<h3 class="hover-it underline">bora bora for HONEYMOON</h3>
	 	 	   	       	<p>Cursus libero purus ac cursus ut sed.Nunc cursus libero purus ac  sed vitae pulvinar.</p>
				   	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_1.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_2.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_3.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_4.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_5.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_6.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_7.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-0" src="img/home_7/small_hotel_8.jpg" alt="">
						<div class="tour-layer delay-1"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><strong><s >$470</s></strong></span>
    						<span class="color-red"><strong>$300</strong></span>
    					</h5>
    					<h4>mauritius from 5 days</h4>
						<div class="hotel-loc">Nunc cursus libero purus ac congue.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dark-2-light">testimonials</h4>
					<h2>what our clients say</h2>
					<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="arrows bg-bluejeans">
		<div class="swiper-container main-slider-7" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
			<div class="swiper-wrapper">
				<div class="swiper-slide active" data-val="0">
					<div class="sl-bg">
						<img class="center-image" src="img/home_7/testimonals.jpg" alt="">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
								<div class="sl-testimonals">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon.png" alt="">
							  	 		  <span class="font-style-2 color-white">July<b> 19th</b> to July<b> 26th</b></span>
							  	 	</div>
							  	 	<h3 class="color-white underline">inna, david lunoe</h3>
							  	 	<p class="f-14 color-white">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
							  	 	<img class="sl-img" src="img/home_7/sl_1.jpg" alt="">
							  	 	<img class="sl-img" src="img/home_7/sl_2.jpg" alt="">
							  	 	<img class="sl-img" src="img/home_7/sl_3.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide" data-val="1">
					<div class="sl-bg">
						<img class="center-image" src="img/home_7/testimonals.jpg" alt="">
					</div>
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
								<div class="sl-testimonals">
									<div class="tour-info">
							  	 		<img src="img/calendar_icon.png" alt="">
							  	 		  <span class="font-style-2 color-white">July<b> 19th</b> to July<b> 26th</b></span>
							  	 	</div>
							  	 	<h3 class="color-white underline">inna, david lunoe</h3>
							  	 	<p class="f-14 color-white">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
							  	 	<img class="sl-img" src="img/home_7/sl_1.jpg" alt="">
							  	 	<img class="sl-img" src="img/home_7/sl_2.jpg" alt="">
							  	 	<img class="sl-img" src="img/home_7/sl_3.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination pagination-hidden poin-style-1"></div>
		    <div class="arrow-wrapp arr-s-4">
				<div class="cont-1170">
					<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
					<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dark-2-light">our partners</h4>
					<h2>Our Inveastors Relations</h2>
					<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id tor.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="6">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="partner-entry">
					<a href="#"><img class="img-responsive" src="img/home_7/partner_1.png" alt=""></a>
				</div>
			</div>
			<div class="swiper-slide text-center">
				<div class="partner-entry">
					<a href="#"><img class="img-responsive" src="img/home_7/partner_2.png" alt=""></a>
				</div>
			</div>
			<div class="swiper-slide text-center">
				<div class="partner-entry">
					<a href="#"><img class="img-responsive" src="img/home_7/partner_3.png" alt=""></a>
				</div>
			</div>
			<div class="swiper-slide text-center">
				<div class="partner-entry">
					<a href="#"><img class="img-responsive" src="img/home_7/partner_4.png" alt=""></a>
				</div>
			</div>
			<div class="swiper-slide text-center">
				<div class="partner-entry">
					<a href="#"><img class="img-responsive" src="img/home_7/partner_5.png" alt=""></a>
				</div>
			</div>
			<div class="swiper-slide text-center">
				<div class="partner-entry">
					<a href="#"><img class="img-responsive" src="img/home_7/partner_6.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="pagination pagination-hidden"></div>
	</div>
</div>

  <div class="container-fluid">


  </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}










