{% extends  'basic.html' %}
{% load static %}

{% block title %}
   {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}
{% block css %}

    {{ block.super }}
{% endblock %}



{% block content %}
 <!-- TOP-BANER -->
<div class="top-baner">
	<div class="swiper-container main-slider-3" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
		<div class="swiper-wrapper">
            {% for banner in allBanners %}
		    	<div class="swiper-slide {% if forloop.counter == 1 %}active{% endif %}" data-val="{{ banner.id }}">
					<div class="clip">
						<div class="bg bg-bg-chrome act" style="background-image:url({{ banner.image.url }})"></div>
					</div>
					<div class="vertical-bottom">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
								    <div class="main-title style-2 left">
                                        {% if banner.smallOfferReplaced %}
								    	    <h3>{{ banner.smallOfferReplaced  | safe }}</h3>
                                        {% else %}
                                             <h3>{{ banner.smallOffer }}</h3>
                                        {% endif %}
									 	<h1>{{ banner.bigOffer }}</h1>
									 	<p class="color-white-light">{{ banner.smallText }}</p>
								    </div>
								</div>
							</div>
						</div>
					</div>
			</div>
            {% endfor %}

		</div>
		<div class="pagination pagination-left-2 poin-style-1"></div>
	</div>
</div>

<!--HOTEL-ITEM-->
<div class="main-wraper bg-grey-2 padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-blue-2 underline">sea tours</h4>
					<h2>popular sea tours</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
	          <div class="hotel-item style-5">
	          	 <div class="radius-top">
	          	 	<img src="img/home_8/tour_1.jpg" alt="">
	          	 	<div class="price price-s-2 red tt">hot price</div>
	          	 </div>
	          	 <div class="title">
	          	 	<div class="date">July <strong>19th</strong> to July <strong>26th</strong></div>
	          	    <h4><b>tours in monaco</b></h4>
      	           	<div class="rate-wrap">
          	          <div class="rate">
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
					  </div>
				      <i>485 rewies</i>
                   	</div>
	             	<p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
		            <a href="#" class="c-button bg-blue-2 hv-blue-2-o">book now</a>
		            <div class="c-price fr">$600</div>
		            <a href="#" class="c-button transparent color-grey-3 hv-o"><img src="img/flag_icon_grey.png" alt="">view more</a>
	             </div>
	          </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
	          <div class="hotel-item style-5">
	          	 <div class="radius-top">
	          	 	<img src="img/home_8/tour_2.jpg" alt="">
	          	 </div>
	          	 <div class="title">
	          	 	<div class="date">July <strong>19th</strong> to July <strong>26th</strong></div>
	          	    <h4><b>tours in monaco</b></h4>
      	           	<div class="rate-wrap">
          	          <div class="rate">
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
						<span class="fa fa-star color-yellow"></span>
					  </div>
				      <i>485 rewies</i>
                    </div>
		            <p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
		            <a href="#" class="c-button bg-blue-2 hv-blue-2-o">book now</a>
		            <div class="c-price fr">$600</div>
		            <a href="#" class="c-button transparent color-grey-3 hv-o"><img src="img/flag_icon_grey.png" alt="">view more</a>
	             </div>
	          </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
	          <div class="hotel-item style-5">
	          	 <div class="radius-top">
	          	 	<img src="img/home_8/tour_3.jpg" alt="">
	          	 	<div class="price price-s-2 green tt">best offer</div>
	          	 </div>
	          	 <div class="title">
	          	 	<div class="date">July <strong>19th</strong> to July <strong>26th</strong></div>
	          	    <h4><b>tours in monaco</b></h4>
          	        <div class="rate-wrap">
	          	        <div class="rate">
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
						</div>
					    <i>485 rewies</i>
                    </div>
	             	<p class="f-14">Nunc cursus libero purus ac congue arcu cur sus ut sed vitae pulvinar. Nunc cursus libero purus ac congue arcu.</p>
		            <a href="#" class="c-button bg-blue-2 hv-blue-2-o">book now</a>
		            <div class="c-price fr">$600</div>
		            <a href="#" class="c-button transparent color-grey-3 hv-o"><img src="img/flag_icon_grey.png" alt="">view more</a>
	             </div>
	          </div>
			</div>
		</div>
	</div>
</div>

<!-- HOTEL-SMALL-->
<div class="main-wraper padd-100">
	<div class="container">
		<div class="row">
		    <div class="col-xs-12 col-sm-6 col-md-4">
		    	<h3 class="title-small">luxury hotels</h3>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_1.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
						<div class="rate">
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
				  		</div>
    					<h4><a href="#">bristol Hotel</a></h4>
    					<h5>from <strong>$273</strong>/ night</h5>
					</div>
    			</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_2.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
						<div class="rate">
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
				  		</div>
						<h4><a href="#">bristol Hotel</a></h4>
    					<h5>from <strong>$273</strong>/ night</h5>
					</div>
    			</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_3.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
						<div class="rate">
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
				  		</div>
						<h4><a href="#">bristol Hotel</a></h4>
    					<h5>from <strong>$273</strong>/ night</h5>
					</div>
    			</div>
			</div>
		    <div class="col-xs-12 col-sm-6 col-md-4">
		    	<h3 class="title-small">best sea tours</h3>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_4.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><s>$470</s></span>
    						<span class="color-red"><strong> $300</strong></span>
    					</h5>
						<h4><a href="#">monaco amazing sea</a></h4>
						<div class="hotel-loc">03/07/2015</div>
					</div>
    			</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_5.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><s>$470</s></span>
    						<span class="color-red"><strong> $300</strong></span>
    					</h5>
    					<h4><a href="#">monaco amazing sea</a></h4>
						<div class="hotel-loc">03/07/2015</div>
					</div>
    			</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_6.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
    					<h5>
    						<span class="color-dark-2-light"><s>$470</s></span>
    						<span class="color-red"><strong> $300</strong></span>
    					</h5>
    					<h4><a href="#">monaco amazing sea</a></h4>
						<div class="hotel-loc">03/07/2015</div>
					</div>
    			</div>
			</div>
		    <div class="col-xs-12 col-sm-6 col-md-4">
		    	<h3 class="title-small">hot destinations</h3>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_4.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
    					<h5>from <strong>$273</strong>/ night</h5>
						<h4><a href="#">italy, rome</a></h4>
						<div class="hotel-loc tt">115 tours in 35 cities</div>
					</div>
    			</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_5.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
    					<h5>from <strong>$273</strong>/ night</h5>
						<h4><a href="#">italy, rome</a></h4>
						<div class="hotel-loc tt">115 tours in 35 cities</div>
					</div>
    			</div>
				<div class="hotel-small style-2 clearfix">
					<a class="hotel-img black-hover" href="#">
						<img class="img-responsive radius-3" src="img/home_8/small_hotel_6.jpg" alt="">
						<div class="tour-layer delay-1 radius-3"></div>
					</a>
					<div class="hotel-desc">
    					<h5>from <strong>$273</strong>/ night</h5>
						<h4><a href="#">italy, rome</a></h4>
						<div class="hotel-loc tt">115 tours in 35 cities</div>
					</div>
    			</div>
			</div>
		</div>
	</div>
</div>

<!--HOTEL-ITEM-->
<div class="main-wraper padd-90">
	<img class="center-image" src="img/home_8/bg_block_1.jpg" alt="">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-white underline">subscribe</h4>
					<h2 class="color-white">let’s subscribe</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<form class="subscribe-form" action="#">
					<div class="subscribe-input input-style-1 input-style-2 fl">
						<input type="text" required="" placeholder="Enter your email">
					</div>
					<button type="submit" class="c-button b-60 bg-blue-2 hv-blue-2-o fr"><span>subscribe</span></button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper bg-grey-2 padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-blue-2 underline">our services</h4>
					<h2>we are the best</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-2 bg-white">
					<img class="icon-img bg-blue-2 border-grey-2" src="img/home_8/icon_1.png" alt="">
					<h5 class="icon-title color-dark-2">happy clients</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-2 bg-white">
					<img class="icon-img bg-blue-2 border-grey-2" src="img/home_8/icon_2.png" alt="">
					<h5 class="icon-title color-dark-2">amazing tour</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-2 bg-white">
					<img class="icon-img bg-blue-2 border-grey-2" src="img/home_8/icon_3.png" alt="">
					<h5 class="icon-title color-dark-2">support cases</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="icon-block style-2 bg-white">
					<img class="icon-img bg-blue-2 border-grey-2" src="img/home_8/icon_4.png" alt="">
					<h5 class="icon-title color-dark-2">support cases</h5>
					<div class="icon-text color-dark-2-light">Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</div>
					<a href="#" class="c-button small bg-blue hv-blue delay-2"><span>view more</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- GAL-ITEM-->
<div class="main-wraper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-blue-2 underline">our gallery</h4>
					<h2>photos our customers</h2>
				</div>
			</div>
		</div>
		<div class="isotope-container row">
			<div class="grid-sizer col-mob-12 col-xs-6 col-sm-3"></div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_1.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_2.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_3.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_4.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_5.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_6.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_7.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
			<div class="item gal-item col-mob-12 col-xs-6 col-sm-3">
				<a class="black-hover" href="detail_2.html">
					<img class="img-full img-responsive" src="img/home_8/gal_8.jpg" alt="">
					<div class="tour-layer delay-1"></div>
					<div class="vertical-align">
						<div class="date color-white">July <strong>19th</strong> to July <strong>26th</strong></div>
						<h4 class="color-white"><b>tours in monaco</b></h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-blue-2 underline">our team</h4>
					<h2>MEET OUR TEAM</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="team-entry">
				  <div class="image">
				  	<img class="team-img img-responsive" src="img/home_8/team_1.jpg" alt="">
					  <div class="team-layer bg-blue">
						<div class="team-share vertical-align">
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-skype"></a>
							<a href="#" class="fa fa-google-plus"></a>
						</div>
				      </div>
				  </div>
					<h3 class="team-name color-dark-2">marry dols</h3>
					<h5 class="team-position color-dark-2-light">Manager of Tourism</h5>
					<p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="team-entry">
					<div class="image">
				  	<img class="team-img img-responsive" src="img/home_8/team_2.jpg" alt="">
					  <div class="team-layer bg-blue">
						<div class="team-share vertical-align">
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-skype"></a>
							<a href="#" class="fa fa-google-plus"></a>
						</div>
				      </div>
				    </div>
					<h3 class="team-name color-dark-2">mark letto</h3>
					<h5 class="team-position color-dark-2-light">Manager of Tourism</h5>
					<p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut aliquip ex.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="team-entry">
					<div class="image">
				  	<img class="team-img img-responsive" src="img/home_8/team_3.jpg" alt="">
					  <div class="team-layer bg-blue">
						<div class="team-share vertical-align">
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-skype"></a>
							<a href="#" class="fa fa-google-plus"></a>
						</div>
				      </div>
				    </div>
					<h3 class="team-name color-dark-2">inna kolt</h3>
					<h5 class="team-position color-dark-2-light">Manager of Tourism</h5>
					<p class="color-dark-2-light">Lorem ipsum dolor sit amet, consectetur adipiscing, sed do eiusmod et dolore magna.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-wraper padd-90">
	<img class="center-image" src="img/home_8/bg_block_2.jpg" alt="">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-white underline">testimonials</h4>
					<h2 class="color-white">what our clients say</h2>
				</div>
			</div>
		</div>
		<div class="arrows">
			<div class="swiper-container testi-slider" data-autoplay="0" data-loop="0" data-speed="900" data-center="0" data-slides-per-view="1">
				<div class="swiper-wrapper">
					<div class="swiper-slide active" data-val="0">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="sg-testimonals">
										<img class="sg-image" src="img/home_8/tesiminals.jpg" alt="">
								  	 	<h3 class="color-white">tomas linderman</h3>
								  	 	<p class="f-14 color-white-light">Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit magna risus, fermentum at varius eu.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide" data-val="1">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="sg-testimonals">
										<img class="sg-image" src="img/home_8/tesiminals.jpg" alt="">
								  	 	<h3 class="color-white">tomas linderman</h3>
								  	 	<p class="f-14 color-white-light">Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit magna risus, fermentum at varius eu.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination pagination-hidden poin-style-1"></div>
			    <div class="arrow-wrapp arr-s-5">
					<div class="cont-1170">
						<div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
						<div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- S_NEWS-ENTRY -->
<div class="main-wraper padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-blue-2 underline">news</h4>
					<h2>latest news</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="s_news-entry">
					<img class="s_news-img img-full img-responsive" src="img/home_8/news_1.jpg" alt="">
					<h4 class="s_news-title"><a href="#">Lorem ipsum dolor</a></h4>
					<div class="tour-info-line clearfix">
						<div class="tour-info fl">
				  	 		<img src="img/calendar_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
				  	 	</div>
						<div class="tour-info fl">
				  	 		<img src="img/calendar_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
				  	 	</div>
						<div class="tour-info fl">
				  	 		<img src="img/comment_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">10 comments</span>
				  	 	</div>
					</div>
					<div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="s_news-entry">
					<img class="s_news-img img-full img-responsive" src="img/home_8/news_2.jpg" alt="">
					<h4 class="s_news-title"><a href="#">Lorem ipsum dolor</a></h4>
					<div class="tour-info-line clearfix">
						<div class="tour-info fl">
				  	 		<img src="img/calendar_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
				  	 	</div>
						<div class="tour-info fl">
				  	 		<img src="img/calendar_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
				  	 	</div>
						<div class="tour-info fl">
				  	 		<img src="img/comment_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">10 comments</span>
				  	 	</div>
					</div>
					<div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="s_news-entry">
					<img class="s_news-img img-full img-responsive" src="img/home_8/news_3.jpg" alt="">
					<h4 class="s_news-title"><a href="#">Lorem ipsum dolor</a></h4>
					<div class="tour-info-line clearfix">
						<div class="tour-info fl">
				  	 		<img src="img/calendar_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">03/07/2015</span>
				  	 	</div>
						<div class="tour-info fl">
				  	 		<img src="img/calendar_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">By Emma Stone</span>
				  	 	</div>
						<div class="tour-info fl">
				  	 		<img src="img/comment_icon_grey.png" alt="">
				  	 		<span class="font-style-2 color-dark-2">10 comments</span>
				  	 	</div>
					</div>
					<div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="main-wraper bg-grey-2 padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-blue-2 underline">contact</h4>
					<h2>get in touch</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<form class="contact-form">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your name">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Enter your email">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-style-1 type-2 color-2">
							  	<input type="text" required="" placeholder="Subject">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="drop-wrap drop-wrap-s-3 drop-wrap-s-5 color-2">
							  	<div class="drop">
								 	<b>Department</b>
									<a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
									<span>
									    <a href="#">Department 1</a>
										<a href="#">Department 1</a>
										<a href="#">Department 3</a>
										<a href="#">Department 4</a>
										<a href="#">Department 5</a>
									</span>
							   	</div>
							</div>
						</div>
						<div class="col-xs-12">
							<textarea class="area-style-1 color-1" required="" placeholder="Enter your comment"></textarea>
							<button type="submit" class="c-button bg-blue-2 hv-blue-2-o"><span>submit comment</span></button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="contact-about">
					<h4 class="color-dark-2"><strong>about us</strong></h4>
					<p class="color-grey-3">Donec gravida euismod felis, quis dictum justo scelerisque in. Aenean nec lacus ipsum. Suspendisse vel lobortis libero, eu imperdiet purus.  Aenean nec lacus ipsum.</p>
				</div>
				<div class="contact-info">
					<h4 class="color-dark-2"><strong>contact info</strong></h4>
					<div class="contact-line color-grey-3"><img src="img/phone_icon_2_blue.png" alt="">Phone: <a class="color-dark-2" href="tel:93123456789">+93 123 456 789</a></div>
					<div class="contact-line color-grey-3"><img src="img/mail_icon_b_blue.png" alt="">Email us: <a class="color-dark-2 tt" href="mailto:letstravel@world.com">let’s_travel@world.com</a></div>
					<div class="contact-line color-grey-3"><img src="img/loc_icon_blue.png" alt="">Address: <span class="color-dark-2 tt">Aenean vulputate porttitor</span></div>
				</div>
				<div class="contact-socail">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-skype"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-pinterest-p"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="map-block">
	<div id="map-canvas" class="style-2" data-lat="33.664467" data-lng="-117.601586" data-zoom="10" data-style="2"></div>
    <div class="addresses-block">
        <a data-lat="33.664467" data-lng="-117.601586" data-string="Santa Monica Hotel"></a>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}










