{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}
{% block css %}

    {{ block.super }}
{% endblock %}



{% block content %}
    <div  class="inner-banner style-5 background-block " style="background-image: url({% static 'img/bg_5.jpg' %}); margin-bottom: 40px">
        <img class="center-image" src="{{ tourType.imageHeader.url }}" alt="" style="display: none;">
        <div class="vertical-align">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <ul class="banner-breadcrumb color-white clearfix">
                            <li><a class="link-blue-2" href="/">главная</a> /</li>
                            <li><a class="link-blue-2" href="/">виды туров</a> /</li>
                            <li><span>{{ tourType.name }}</span></li>
                        </ul>
                        <h2 class="color-white">{{ tourType.name }}</h2>
                        {#	  			<p class="color-white-light">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum. Lorem ipsum dolor sit.</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-wraper padd-90">
        <div class="container">
            <div class="row">
                {% for tour in allToursbyType %}
                  {% include 'pages/big_tour_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}










