{% load static %}
<footer class="bg-dark type-2">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    				<div class="footer-block">
    					<img width="100%" src="{% static 'img/logo.png' %}" alt="" class="logo-footer">
    					<div class="f_text color-grey-7">Наши специалисты подберут наиболее подходящий тур и лучшие экскурсионные маршруты и для тех, кто интересуется богатой историей зарубежных стран, и для любителей спорта и активных путешествий, и для тех, кто предпочитает пляжный отдых в максимально комфортных условиях.</div>
    					<div class="footer-share">
    						<a href="#"><span class="fa fa-facebook"></span></a>
    						<a href="#"><span class="fa fa-twitter"></span></a>
    						<a href="#"><span class="fa fa-google-plus"></span></a>
    						<a href="#"><span class="fa fa-pinterest"></span></a>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 no-padding">
				   <div class="footer-block">
						<h6>новые туры</h6>
                       {% for tour in newTours %}
					    	<div class="f_news clearfix">
							<a class="f_news-img black-hover" href="#">
								<img class="img-responsive" src="{{ tour.previewImage.url }}" alt="">
								<div class="tour-layer delay-1"></div>
							</a>
							<div class="f_news-content">
								<a class="f_news-tilte color-white link-red" href="#">{{ tour.name }}</a>
								<span class="date-f">{{ tour.date | date }}</span>
								<a href="#" class="r-more">подробнее</a>
							</div>
						</div>
					    {% endfor %}
				   </div>
				</div>
    			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    			   <div class="footer-block">
                     <h6>Теги:</h6>
                       {% for tag in allTags %}
    			            <a href="#" class="tags-b">{{ tag.name }}</a>
    			      {% endfor %}
				   </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="footer-block">
                     <h6>Контакты</h6>
                       <div class="contact-info">
                        <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Санкт-Петербург, Казанская ул., 7, БЦ «Дворец Кваренги», оф. 12A</span></div>
						<div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:93123456789">+7 904 333-96-55</a></div>
						<div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a href="mailto:">letstravel@mail.com</a></div>
						<div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a href="#">let’s_travel@world.com</a></div>

					</div>
				   </div>
				</div>
    		</div>
    	</div>
    	<div class="footer-link bg-black">
    	  <div class="container">
    	  	<div class="row">
    	  		<div class="col-md-12">
    	  		    <div class="copyright">
						<span>&copy; ООО Иволга | Туроператор Иволга | Санкт-Петербург</span>
					</div>
    	  			<ul>
						<li><a class="link-aqua" href="#">ссылка1</a></li>
						<li><a class="link-aqua" href="#">ссылка2</a></li>
						<li><a class="link-aqua" href="#">ссылка3</a></li>

					</ul>
    	  		</div>
    	  	</div>
    	  </div>
    	</div>
    </footer>