{% load static %}
<header class="color-1 hovered menu-3">
   <div class="container">
   	  <div class="row">
   	  	 <div class="col-md-12">
  	  	    <div class="nav">
   	  	    <a href="/" class="logo">
   	  	    	<img width="200" src="{% static 'img/logo.png' %}" alt="lets travel">
   	  	    </a>
   	  	    <div class="nav-menu-icon">
		      <a href="#"><i></i></a>
		    </div>
   	  	 	<nav class="menu">
			  	<ul>
                    <li class="type-1 {{ homeactive }}">
						<a href="#">о компании</a>
					</li>
                    <li class="type-1">
						<a href="#">агенствам</a>
					</li>
                    <li class="type-1">
						<a href="#">туристам</a>
					</li>
                    <li class="type-1 {{ tourtypeactive }}"><a href="#">виды туров<span class="fa fa-angle-down"></span></a>
						<ul class="dropmenu">
                            {% for type in allTypes %}
							<li>
                                <a href="{% url 'showtour_by_type' type.nameSlug %}">{{ type.name }}</a>
                            </li>
                            {% endfor %}

						</ul>
					</li>
                    <li class="type-1"><a href="#">страны<span class="fa fa-angle-down"></span></a>
						<ul class="dropmenu">
                            {% for region in allRegions %}
							<li><a href="{% url 'showtour_by_globalregion' region.nameSlug %}">{{ region.name }} <span class="fa fa-chevron-right"></span></a>
                               <ul class="dropmenu">
                                   {% for country in region.global_region.all %}
									    <li><a href="{% url 'showtour_by_destination' country.nameSlug %}">{{ country.name }}</a></li>
								   {% endfor %}
								</ul>
                            </li>
                           {% endfor %}
						</ul>
					</li>
                    <li class="type-1">
						<a href="#">курс валют</a>
					</li>
                      <li class="type-1">
						<a href="{% url 'contacts'%}">контакты</a>
					</li>




			  	</ul>
		   </nav>
		   </div>
   	  	 </div>
   	  </div>
   </div>
  </header>